<template>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-music"></span>
                <span>Songwriter's Notebook</span>
            </a>
        </div>
    </nav>
    <require from="../songs-list/songs-list"></require>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <songs-list></songs-list>
            </div>
            <div class="col-sm-9 body-content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
