<template>
    <require from="../progress.html"></require>
    <div if.bind="!songs">
        <progress><progress>
    </div>
    <div if.bind="songs">
        <h2 class="visible-md-block visible-lg-block">Songs</h2>
        <ul class="nav nav-pills nav-stacked visible-md-block visible-lg-block">
            <li repeat.for="song of songs" class="${song.Id === $parent.selectedId ? 'active' : ''}">
                <a href="#/songs/${song.Id}" click.delegate="$parent.select(song)">
                    ${ song.Name }
                </a>
            </li>
        </ul>
    
        <div class="dropdown visible-sm-block visible-xs-block">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Songs <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li repeat.for="song of songs">
                    <a href="#/songs/${song.Id}" click.delegate="$parent.select(song)">${ song.Name }</a>
                </li>
            </ul>
        </div>
    </div>
</template>